/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable selector-class-pattern */
@import "/Volumes/LaCie_1/FD/my_project/js/price-range-slider/node_modules/modern-css-reset/src/reset.css";
@import "/Volumes/LaCie_1/FD/my_project/js/price-range-slider/src/styles/fonts.css";

body {
    display: box;
    display: flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #17a2b8;
    font-family: MyFont;
}

.container {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 25px 40px;
}

.container__title {
    font-size: 24px;
    font-weight: 600;
}

.container__text {
    margin-top: 5px;
    font-size: 16px;
}

.price-input {
    width: 100%;
    margin: 30px 0 35px;
    display: box;
    display: flexbox;
    display: flex;
}

.price-input__separator {
    width: 130px;
    display: box;
    display: flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 19px;
}

.filed {
    width: 100%;
    height: 45px;
    display: box;
    display: flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.filed__input {
    width: 100%;
    height: 100%;
    margin-left: 12px;
    border: 1px solid #999;
    border-radius: 6px;
    outline: none;
    text-align: center;
    font-size: 19px;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

.slider {
    position: relative;
    height: 5px;
    background: #ddd;
    border-radius: 5px;
}

.slider__progress {
    height: 5px;
    left: 25%;
    right: 25%;
    position: absolute;
    background: #17a2b8;
    border-radius: 5px;
}

.range {
    position: relative;
}

.range__input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    appearance: none;
    background: #17a2b8;
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    appearance: none;
    background: #17a2b8;
}
